html {
    font-family: sans-serif;
  }

body {
  margin: 0;
}

header {
  background: rgb(52, 206, 142);
  height: 100px;
}

h1 {
  text-align: center;
  color: white;
  line-height: 100px;
  margin: 0;
}

button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
}

a {
  font-size: 20px;
}

/* Анимация для вибрирования кнопки */
@keyframes vibrate {
  0% {
      transform: translateX(-2px);
  }
  50% {
      transform: translateX(2px);
  }
  100% {
      transform: translateX(-2px);
  }
}

/* Анимация для изменения цвета кнопки при наведении */
@keyframes changeColor {
  0% {
      background-color: red;
  }
  100% {
      background-color: green;
  }
}

/* Анимация для текста ссылки при наведении */
@keyframes underline {
  0% {
      text-decoration: none;
  }
  100% {
      text-decoration: underline;
  }
}

/* Применяем анимацию для кнопки */
button {
  margin: 50px;
  font-size: 20px;
  background-color: red;
  animation: vibrate 0.1s infinite alternate; /* вибрирование */
}

/* Применяем анимацию для кнопки при наведении */
button:hover {
  animation: changeColor 1s forwards; /* изменение цвета */
}

/* Анимация для расширения подчеркивания */
@keyframes underline-expand {
  0% {
      background-size: 0 2px; /* начальная ширина подчеркивания */
      background-position: 50% 100%; /* начальное положение подчеркивания */
  }
  100% {
      background-size: 100% 2px; /* конечная ширина подчеркивания */
      background-position: 0 100%; /* конечное положение подчеркивания */
  }
}

/* Ссылка в неактивном состоянии */
a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

/* Анимация расширения подчеркивания при наведении */
a:hover {
  color: green; /* изменение цвета текста */
  background-image: linear-gradient(green, green); /* создание подчеркивания */
  background-repeat: no-repeat;
  background-size: 0 2px; /* начальная ширина подчеркивания */
  background-position: 50% 100%; /* начальное положение подчеркивания */
  text-decoration-skip-ink: none; /* отключение "скакания" подчеркивания */
  animation: underline-expand 1s forwards; /* применение анимации */
}

/* Стили для мячика */
.ball {
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    position: absolute;
    bottom: 0; /* начальное положение мячика */
    animation: fall 7s ease-in-out infinite; /* падение */
}

/* Анимация падения мячика */
@keyframes fall {
    0%, 100% {
        bottom: 50%; /* начальное и конечное положение мячика */
        transform: translateY(0); /* начальное и конечное состояние мячика */
    }
    25% {
        bottom: 0%; /* половина высоты экрана */
        transform: translateY(0%); /* учет отскока */
    }
    50% {
        bottom: 30%; /* четверть высоты экрана */
        transform: translateY(-50%); /* учет отскока */
    }
    75% {
        bottom: 0%; /* 40 процентов от высоты экрана */
        transform: translateY(-0%); /* учет отскока */
    }
}
